<?php
/**
 * FilerestApi
 * PHP version 5
 *
 * @category Class
 * @package  Sunday\RenderClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Sunday Render Service
 *
 * Sunday Render Service
 *
 * OpenAPI spec version: 0.0.1-SNAPSHOT
 * Contact: molnar.balint@mdy.hu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Sunday\RenderClient\Configuration;
use \Sunday\RenderClient\ApiClient;
use \Sunday\RenderClient\ApiException;
use \Sunday\RenderClient\ObjectSerializer;

/**
 * FilerestApi Class Doc Comment
 *
 * @category Class
 * @package  Sunday\RenderClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class FilerestApi
{

    /**
     * API Client
     *
     * @var \Sunday\RenderClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Sunday\RenderClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Sunday\RenderClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://sdy-as-01:8009/');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Sunday\RenderClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Sunday\RenderClient\ApiClient $apiClient set the API client
     *
     * @return FilerestApi
     */
    public function setApiClient(\Sunday\RenderClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createFileEntityUsingPOST
     *
     * Creates a file
     *
     * @param \Swagger\Client\Model\FileEntity $file_to_create fileToCreate (required)
     * @return \Swagger\Client\Model\FileEntity
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function createFileEntityUsingPOST($file_to_create)
    {
        list($response) = $this->createFileEntityUsingPOSTWithHttpInfo($file_to_create);
        return $response;
    }

    /**
     * Operation createFileEntityUsingPOSTWithHttpInfo
     *
     * Creates a file
     *
     * @param \Swagger\Client\Model\FileEntity $file_to_create fileToCreate (required)
     * @return Array of \Swagger\Client\Model\FileEntity, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function createFileEntityUsingPOSTWithHttpInfo($file_to_create)
    {
        // verify the required parameter 'file_to_create' is set
        if ($file_to_create === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file_to_create when calling createFileEntityUsingPOST');
        }
        // parse inputs
        $resourcePath = "/file/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=UTF-8'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($file_to_create)) {
            $_tempBody = $file_to_create;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileEntity',
                '/file/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileEntity', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileEntity', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFileEntityUsingGET
     *
     * Gets a file eneity, its metadata read from the database and its contents read from the file storage
     *
     * @param int $id Id (required)
     * @return \Swagger\Client\Model\FileEntity
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function getFileEntityUsingGET($id)
    {
        list($response) = $this->getFileEntityUsingGETWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getFileEntityUsingGETWithHttpInfo
     *
     * Gets a file eneity, its metadata read from the database and its contents read from the file storage
     *
     * @param int $id Id (required)
     * @return Array of \Swagger\Client\Model\FileEntity, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function getFileEntityUsingGETWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getFileEntityUsingGET');
        }
        // parse inputs
        $resourcePath = "/file/get/{Id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "Id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileEntity',
                '/file/get/{Id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileEntity', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileEntity', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFilesByProjectIdUsingGET
     *
     * Gets all file entities by a project. Note, that this operation only queries the database, and not the file contents.
     *
     * @param int $project_id projectId (required)
     * @return \Swagger\Client\Model\FileEntity[]
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function getFilesByProjectIdUsingGET($project_id)
    {
        list($response) = $this->getFilesByProjectIdUsingGETWithHttpInfo($project_id);
        return $response;
    }

    /**
     * Operation getFilesByProjectIdUsingGETWithHttpInfo
     *
     * Gets all file entities by a project. Note, that this operation only queries the database, and not the file contents.
     *
     * @param int $project_id projectId (required)
     * @return Array of \Swagger\Client\Model\FileEntity[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function getFilesByProjectIdUsingGETWithHttpInfo($project_id)
    {
        // verify the required parameter 'project_id' is set
        if ($project_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $project_id when calling getFilesByProjectIdUsingGET');
        }
        // parse inputs
        $resourcePath = "/file/getbyproject/{projectId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($project_id !== null) {
            $resourcePath = str_replace(
                "{" . "projectId" . "}",
                $this->apiClient->getSerializer()->toPathValue($project_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileEntity[]',
                '/file/getbyproject/{projectId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileEntity[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileEntity[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateFileContentsUsingPOST
     *
     * Updates a file
     *
     * @param \Swagger\Client\Model\FileEntity $file_to_update fileToUpdate (required)
     * @return \Swagger\Client\Model\FileEntity
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function updateFileContentsUsingPOST($file_to_update)
    {
        list($response) = $this->updateFileContentsUsingPOSTWithHttpInfo($file_to_update);
        return $response;
    }

    /**
     * Operation updateFileContentsUsingPOSTWithHttpInfo
     *
     * Updates a file
     *
     * @param \Swagger\Client\Model\FileEntity $file_to_update fileToUpdate (required)
     * @return Array of \Swagger\Client\Model\FileEntity, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\RenderClient\ApiException on non-2xx response
     */
    public function updateFileContentsUsingPOSTWithHttpInfo($file_to_update)
    {
        // verify the required parameter 'file_to_update' is set
        if ($file_to_update === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file_to_update when calling updateFileContentsUsingPOST');
        }
        // parse inputs
        $resourcePath = "/file/update";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=UTF-8'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($file_to_update)) {
            $_tempBody = $file_to_update;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileEntity',
                '/file/update'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileEntity', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileEntity', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
