<?php
/**
 * InsurancebondrestApi
 * PHP version 5
 *
 * @category Class
 * @package  Sunday\ArchiveClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Sunday Archive Service
 *
 * Sunday Archive Service
 *
 * OpenAPI spec version: 0.0.1-SNAPSHOT
 * Contact: molnar.balint@mdy.hu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Sunday\ArchiveClient\Configuration;
use \Sunday\ArchiveClient\ApiClient;
use \Sunday\ArchiveClient\ApiException;
use \Sunday\ArchiveClient\ObjectSerializer;

/**
 * InsurancebondrestApi Class Doc Comment
 *
 * @category Class
 * @package  Sunday\ArchiveClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class InsurancebondrestApi
{

    /**
     * API Client
     *
     * @var \Sunday\ArchiveClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Sunday\ArchiveClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Sunday\ArchiveClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://136.144.173.90:8008/');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Sunday\ArchiveClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Sunday\ArchiveClient\ApiClient $apiClient set the API client
     *
     * @return InsurancebondrestApi
     */
    public function setApiClient(\Sunday\ArchiveClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createUsingPOST
     *
     * Elkészít egy új Insurance Bondot.
     *
     * @param \Swagger\Client\Model\InsuranceBondEntity $insurance_bond_entity insuranceBondEntity (required)
     * @param int $user_login_id userLoginId (required)
     * @return \Swagger\Client\Model\InsuranceBondEntity
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function createUsingPOST($insurance_bond_entity, $user_login_id)
    {
        list($response) = $this->createUsingPOSTWithHttpInfo($insurance_bond_entity, $user_login_id);
        return $response;
    }

    /**
     * Operation createUsingPOSTWithHttpInfo
     *
     * Elkészít egy új Insurance Bondot.
     *
     * @param \Swagger\Client\Model\InsuranceBondEntity $insurance_bond_entity insuranceBondEntity (required)
     * @param int $user_login_id userLoginId (required)
     * @return Array of \Swagger\Client\Model\InsuranceBondEntity, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function createUsingPOSTWithHttpInfo($insurance_bond_entity, $user_login_id)
    {
        // verify the required parameter 'insurance_bond_entity' is set
        if ($insurance_bond_entity === null) {
            throw new \InvalidArgumentException('Missing the required parameter $insurance_bond_entity when calling createUsingPOST');
        }
        // verify the required parameter 'user_login_id' is set
        if ($user_login_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_login_id when calling createUsingPOST');
        }
        // parse inputs
        $resourcePath = "/insurance-bond/create/{userLoginId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=UTF-8'));

        // path params
        if ($user_login_id !== null) {
            $resourcePath = str_replace(
                "{" . "userLoginId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_login_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($insurance_bond_entity)) {
            $_tempBody = $insurance_bond_entity;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\InsuranceBondEntity',
                '/insurance-bond/create/{userLoginId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\InsuranceBondEntity', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InsuranceBondEntity', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getInsuranceBondsUsingGET
     *
     * Listázza az egy loginhoz tartozó insurance bondokat
     *
     * @param int $user_id userId (required)
     * @return \Swagger\Client\Model\InsuranceBondEntity[]
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getInsuranceBondsUsingGET($user_id)
    {
        list($response) = $this->getInsuranceBondsUsingGETWithHttpInfo($user_id);
        return $response;
    }

    /**
     * Operation getInsuranceBondsUsingGETWithHttpInfo
     *
     * Listázza az egy loginhoz tartozó insurance bondokat
     *
     * @param int $user_id userId (required)
     * @return Array of \Swagger\Client\Model\InsuranceBondEntity[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getInsuranceBondsUsingGETWithHttpInfo($user_id)
    {
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling getInsuranceBondsUsingGET');
        }
        // parse inputs
        $resourcePath = "/insurance-bond/read/{userId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($user_id !== null) {
            $resourcePath = str_replace(
                "{" . "userId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\InsuranceBondEntity[]',
                '/insurance-bond/read/{userId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\InsuranceBondEntity[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InsuranceBondEntity[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
