<?php
/**
 * PaymentrecordrestApi
 * PHP version 5
 *
 * @category Class
 * @package  Sunday\ArchiveClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Sunday Archive Service
 *
 * Sunday Archive Service
 *
 * OpenAPI spec version: 0.0.1-SNAPSHOT
 * Contact: molnar.balint@mdy.hu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Sunday\ArchiveClient\Configuration;
use \Sunday\ArchiveClient\ApiClient;
use \Sunday\ArchiveClient\ApiException;
use \Sunday\ArchiveClient\ObjectSerializer;

/**
 * PaymentrecordrestApi Class Doc Comment
 *
 * @category Class
 * @package  Sunday\ArchiveClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PaymentrecordrestApi
{

    /**
     * API Client
     *
     * @var \Sunday\ArchiveClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Sunday\ArchiveClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Sunday\ArchiveClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://136.144.173.90:8008/');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Sunday\ArchiveClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Sunday\ArchiveClient\ApiClient $apiClient set the API client
     *
     * @return PaymentrecordrestApi
     */
    public function setApiClient(\Sunday\ArchiveClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createUsingPOST1
     *
     * Készít egy új PaymentRecord-ot és visszaadja
     *
     * @param \Swagger\Client\Model\PaymentRecord $payment_record paymentRecord (required)
     * @param int $user_login_id userLoginId (required)
     * @return \Swagger\Client\Model\PaymentRecord
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function createUsingPOST1($payment_record, $user_login_id)
    {
        list($response) = $this->createUsingPOST1WithHttpInfo($payment_record, $user_login_id);
        return $response;
    }

    /**
     * Operation createUsingPOST1WithHttpInfo
     *
     * Készít egy új PaymentRecord-ot és visszaadja
     *
     * @param \Swagger\Client\Model\PaymentRecord $payment_record paymentRecord (required)
     * @param int $user_login_id userLoginId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function createUsingPOST1WithHttpInfo($payment_record, $user_login_id)
    {
        // verify the required parameter 'payment_record' is set
        if ($payment_record === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record when calling createUsingPOST1');
        }
        // verify the required parameter 'user_login_id' is set
        if ($user_login_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_login_id when calling createUsingPOST1');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/create/{userLoginId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=UTF-8'));

        // path params
        if ($user_login_id !== null) {
            $resourcePath = str_replace(
                "{" . "userLoginId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_login_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($payment_record)) {
            $_tempBody = $payment_record;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord',
                '/paymentrecord/create/{userLoginId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPaymentRecordHistoryUsingGET
     *
     * Visszaadja az egy payment recordhoz tartozó history-t
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @return \Swagger\Client\Model\PaymentRecordChange[]
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordHistoryUsingGET($payment_record_id)
    {
        list($response) = $this->getPaymentRecordHistoryUsingGETWithHttpInfo($payment_record_id);
        return $response;
    }

    /**
     * Operation getPaymentRecordHistoryUsingGETWithHttpInfo
     *
     * Visszaadja az egy payment recordhoz tartozó history-t
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecordChange[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordHistoryUsingGETWithHttpInfo($payment_record_id)
    {
        // verify the required parameter 'payment_record_id' is set
        if ($payment_record_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record_id when calling getPaymentRecordHistoryUsingGET');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/history/{paymentRecordId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($payment_record_id !== null) {
            $resourcePath = str_replace(
                "{" . "paymentRecordId" . "}",
                $this->apiClient->getSerializer()->toPathValue($payment_record_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecordChange[]',
                '/paymentrecord/history/{paymentRecordId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecordChange[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecordChange[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPaymentRecordUsingGET
     *
     * Visszaadja a payment recordhot
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @return \Swagger\Client\Model\PaymentRecord
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordUsingGET($payment_record_id)
    {
        list($response) = $this->getPaymentRecordUsingGETWithHttpInfo($payment_record_id);
        return $response;
    }

    /**
     * Operation getPaymentRecordUsingGETWithHttpInfo
     *
     * Visszaadja a payment recordhot
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordUsingGETWithHttpInfo($payment_record_id)
    {
        // verify the required parameter 'payment_record_id' is set
        if ($payment_record_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record_id when calling getPaymentRecordUsingGET');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/get/{paymentRecordId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($payment_record_id !== null) {
            $resourcePath = str_replace(
                "{" . "paymentRecordId" . "}",
                $this->apiClient->getSerializer()->toPathValue($payment_record_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord',
                '/paymentrecord/get/{paymentRecordId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPaymentRecordsUsingGET
     *
     * Listázza az egy loginhoz tartozó fizetéseket
     *
     * @param int $user_id userId (required)
     * @return \Swagger\Client\Model\PaymentRecord[]
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordsUsingGET($user_id)
    {
        list($response) = $this->getPaymentRecordsUsingGETWithHttpInfo($user_id);
        return $response;
    }

    /**
     * Operation getPaymentRecordsUsingGETWithHttpInfo
     *
     * Listázza az egy loginhoz tartozó fizetéseket
     *
     * @param int $user_id userId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function getPaymentRecordsUsingGETWithHttpInfo($user_id)
    {
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling getPaymentRecordsUsingGET');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/read/{userId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($user_id !== null) {
            $resourcePath = str_replace(
                "{" . "userId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord[]',
                '/paymentrecord/read/{userId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation setBackendActionTakenUsingPOST
     *
     * Frissíti a backend action taken  metaadatot
     *
     * @param bool $backend_action_taken backendActionTaken (required)
     * @param int $payment_record_id paymentRecordId (required)
     * @return \Swagger\Client\Model\PaymentRecord
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function setBackendActionTakenUsingPOST($backend_action_taken, $payment_record_id)
    {
        list($response) = $this->setBackendActionTakenUsingPOSTWithHttpInfo($backend_action_taken, $payment_record_id);
        return $response;
    }

    /**
     * Operation setBackendActionTakenUsingPOSTWithHttpInfo
     *
     * Frissíti a backend action taken  metaadatot
     *
     * @param bool $backend_action_taken backendActionTaken (required)
     * @param int $payment_record_id paymentRecordId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function setBackendActionTakenUsingPOSTWithHttpInfo($backend_action_taken, $payment_record_id)
    {
        // verify the required parameter 'backend_action_taken' is set
        if ($backend_action_taken === null) {
            throw new \InvalidArgumentException('Missing the required parameter $backend_action_taken when calling setBackendActionTakenUsingPOST');
        }
        // verify the required parameter 'payment_record_id' is set
        if ($payment_record_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record_id when calling setBackendActionTakenUsingPOST');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/update-backend-action-taken/{paymentRecordId}/{backendActionTaken}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($backend_action_taken !== null) {
            $resourcePath = str_replace(
                "{" . "backendActionTaken" . "}",
                $this->apiClient->getSerializer()->toPathValue($backend_action_taken),
                $resourcePath
            );
        }
        // path params
        if ($payment_record_id !== null) {
            $resourcePath = str_replace(
                "{" . "paymentRecordId" . "}",
                $this->apiClient->getSerializer()->toPathValue($payment_record_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord',
                '/paymentrecord/update-backend-action-taken/{paymentRecordId}/{backendActionTaken}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateStatusUsingPOST
     *
     * Frissíti a fizetést, visszaad egy új
     *
     * @param string $new_status newStatus (required)
     * @param int $payment_record_id paymentRecordId (required)
     * @return \Swagger\Client\Model\PaymentRecord
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function updateStatusUsingPOST($new_status, $payment_record_id)
    {
        list($response) = $this->updateStatusUsingPOSTWithHttpInfo($new_status, $payment_record_id);
        return $response;
    }

    /**
     * Operation updateStatusUsingPOSTWithHttpInfo
     *
     * Frissíti a fizetést, visszaad egy új
     *
     * @param string $new_status newStatus (required)
     * @param int $payment_record_id paymentRecordId (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function updateStatusUsingPOSTWithHttpInfo($new_status, $payment_record_id)
    {
        // verify the required parameter 'new_status' is set
        if ($new_status === null) {
            throw new \InvalidArgumentException('Missing the required parameter $new_status when calling updateStatusUsingPOST');
        }
        // verify the required parameter 'payment_record_id' is set
        if ($payment_record_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record_id when calling updateStatusUsingPOST');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/update/{paymentRecordId}/{newStatus}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($new_status !== null) {
            $resourcePath = str_replace(
                "{" . "newStatus" . "}",
                $this->apiClient->getSerializer()->toPathValue($new_status),
                $resourcePath
            );
        }
        // path params
        if ($payment_record_id !== null) {
            $resourcePath = str_replace(
                "{" . "paymentRecordId" . "}",
                $this->apiClient->getSerializer()->toPathValue($payment_record_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord',
                '/paymentrecord/update/{paymentRecordId}/{newStatus}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateTransactionIDUsingPOST
     *
     * Frissíti a Payment Gateway transaction ID-t
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @param string $transaction_id transactionID (required)
     * @return \Swagger\Client\Model\PaymentRecord
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function updateTransactionIDUsingPOST($payment_record_id, $transaction_id)
    {
        list($response) = $this->updateTransactionIDUsingPOSTWithHttpInfo($payment_record_id, $transaction_id);
        return $response;
    }

    /**
     * Operation updateTransactionIDUsingPOSTWithHttpInfo
     *
     * Frissíti a Payment Gateway transaction ID-t
     *
     * @param int $payment_record_id paymentRecordId (required)
     * @param string $transaction_id transactionID (required)
     * @return Array of \Swagger\Client\Model\PaymentRecord, HTTP status code, HTTP response headers (array of strings)
     * @throws \Sunday\ArchiveClient\ApiException on non-2xx response
     */
    public function updateTransactionIDUsingPOSTWithHttpInfo($payment_record_id, $transaction_id)
    {
        // verify the required parameter 'payment_record_id' is set
        if ($payment_record_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payment_record_id when calling updateTransactionIDUsingPOST');
        }
        // verify the required parameter 'transaction_id' is set
        if ($transaction_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $transaction_id when calling updateTransactionIDUsingPOST');
        }
        // parse inputs
        $resourcePath = "/paymentrecord/update-transaction-id/{paymentRecordId}/{transactionID}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=UTF-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($payment_record_id !== null) {
            $resourcePath = str_replace(
                "{" . "paymentRecordId" . "}",
                $this->apiClient->getSerializer()->toPathValue($payment_record_id),
                $resourcePath
            );
        }
        // path params
        if ($transaction_id !== null) {
            $resourcePath = str_replace(
                "{" . "transactionID" . "}",
                $this->apiClient->getSerializer()->toPathValue($transaction_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PaymentRecord',
                '/paymentrecord/update-transaction-id/{paymentRecordId}/{transactionID}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PaymentRecord', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PaymentRecord', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
